.rotate-on-hover:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotateY(180deg);
}

.hide-on-hover {
  display: block;
  margin-top: -100px;
  opacity: 0;
  transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.col-md-4:hover .hide-on-hover,
.col-md-12:hover .hide-on-hover {
  margin-top: 0;
  opacity: 1;
}

@media screen and (max-width: 414px) {
  .gst {
    margin-bottom: 60px;
  }
  
  .roc {
    margin-bottom: 30px;
  }
  
  .visibility-publicity {
    margin-bottom: 70px;
  }

  .income-tax {
    margin-bottom: 100px;
  }
  
  .audit {
    margin-bottom: 100px;
  }
  .increased-margin {
    margin-bottom: 100px !important;
  }
}