
#about h1.section-heading {
  margin-top: -58vh; 
}


@media screen and (min-width: 1024px) {
  #about h1.section-heading {
    margin-top: -14vh;
  }
}


@media screen and (max-width: 412px) and (min-width: 412px) {
  #about h1.section-heading {
    margin-top: -60vh; 
  }
}

@media screen and (max-width: 360px) {
  #about h1.section-heading {
    margin-top: -20vh; 
  }
}

@media screen and (max-width: 375px) and (min-width: 370px) {
  #about h1.section-heading {
    margin-top: -14vh; 
  }
}

@media screen and (max-width: 370px) and (min-width: 361px) {
  #about h1.section-heading {
    margin-top: -14vh; 
  }
}
